# Archivos temporales de Construct 2
*.autosave*
*.tmp
*.bak
*.capx.autosave
*.caproj.autosave

# Miniaturas generadas automáticamente
Thumbnails/
thumbs.db

# Archivos del sistema o de escritorio
.DS_Store
desktop.ini
